RewriteEngine on
RewriteBase /mv4/dashboard/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*) index.php?uri=$1 [QSA,L]

RewriteRule ^css/(.*).css$ src/css/$1.css [L]
RewriteRule ^js/(.*).js$ src/js/$1 [L]
RewriteRule ^images/(.*)$ src/images/$1 [L]
RewriteRule ^fonts/(.*)$ src/fonts/$1 [L]
